<template>
    <footer>
        <h1>Esto es el footer.</h1>
    </footer>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style>
    footer {
        background-color: purple;
        color: goldenrod;
        text-align: left;
        padding: 2rem;
        padding-left: 4rem;
    }
</style>