<template>
    <div class="form">
        <input type="text" v-model="todoText" />
        <input type="text" v-model="todoDescription" />
        <input type="number" v-model="todoNumber" />
        <button @click="addTodo">Añadir</button>
    </div>
</template>

<script>
export default {
    name: 'Form',
    data() {
        return {
            newItem: null
        }
    },
    methods: {
        addTodo() {
            const newItem = {
                name: this.todoText,
                number: this.todoNumber,
                description: this.todoDescription
            };
            this.todoText = "";
            this.todoNumber = "";
            this.todoDescription = "";
            this.$emit("addElement", newItem);
        }
    }
}
</script>

<style scoped>
    .form {
        background-color: goldenrod;
        padding: 3rem;
        padding-bottom: 0;
    }

    .form input {
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        border: 2px solid black;
        
    }

    .form button {
        padding: 1rem;
        padding-top: 1.5rem;
        font-size: 1.5rem;
        width: 200px;
        background-color: maroon;
        color: goldenrod;
        border: none;
        cursor: pointer;
    }
</style>