<template>
    <header>
        <h1>My ToDos.</h1>
    </header>
</template>

<script>
export default {
    name: 'Header'
}
</script>

<style scoped>
    header {
        background-color: maroon;
        color: goldenrod;
        text-align: left;
        padding: 2rem;
        padding-left: 4rem;
    }
</style>