<template>
    <div class="todo-list">
        <div v-for="(item, index) in todoItems" :key="index" class="todo-item">
            <h2>{{index + 1}}. {{item.name}}</h2>
            <p>{{item.description}}</p>
            <p>{{item.number}}</p>
            <button @click="showRecipes(item.name)">Ver recetas</button>
            <button @click="deleteItem(index)">Borrar</button>
        </div>
        <div v-if="todoItems.length === 0">
            <h1>Gasta y apunta todo lo que quieras.</h1>
        </div>
        <div v-if="recipes.length !== 0">
            <h2>Recetas</h2>
            <div v-for="(meal, index) in recipes" :key="index">
                <h3>{{meal.strMeal}}</h3>
                <img :src="strMealThumb" class="recipeImg">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TodoList',
    props: {
        todoItems: {
            type: Array
        }
    },
    data() {
        return {
            recipes: []
        };
    },
    methods: {
        deleteItem(index) {
            this.$emit("deleteItem", index);
        },
        async showRecipes(ingredient) {
            const result = await fetch("https://www.themealdb.com/api/json/v1/1/filter.php?i=" + ingredient);
            const data = await result.json();
            this.recipes = data.meals;
            //console.log(data); // eslint-disable-line no-console
        }
    }
}
</script>

<style scoped>
    .todo-list {
        background-color: goldenrod;
        padding: 1rem;
    }

    .todo-item {
        border: 2px solid maroon;
        margin: 1rem;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .todo-item button {
        padding: 0.6rem;
        font-size: 1rem;
        width: 6rem;
        background-color: maroon;
        color: goldenrod;
        border: none;
        cursor: pointer;
    }

    .recipeImg {
        width: 300px;
    }
</style>