<template>
  <div id="app">
    <Header />
    <Form @addElement="getNewItem" />
    <TodoList :todoItems="list" @deleteItem="getItemToDelete"/>
    <Footer  />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Form from './components/Form.vue'
import TodoList from './components/TodoList.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  data() {
    return {
      list: [
        {name: "Naranjas", number: 3, description: "Para zumo, gorditas."},
        {name: "Harina", number: 2, description: "De fuerza."},
        {name: "Leche", number: 2, description: "Una entera y una semi."},
        {name: "Arena para gatos", number: 1, description: "La que le gusta a Gato."},
        {name: "PVC", number: 5, description: "En metros, para hacer escobas."}
      ]
    };
  },
  components: {
    Header,
    Form,
    TodoList,
    Footer
  },
  methods: {
    getNewItem(itemNew) {
      this.list.push(itemNew)
    },
    getItemToDelete(index) {
      this.list.splice(index, 1);
    }
  }
}
</script>

<style>
* {
  background-image: "assets/ikurrina.png";
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: maroon;
}
</style>
